<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
	<title>RiskAssess | Breast Cancer Prediction</title>
</head>
<style>
    
body{
    background-color: rgba(204, 188, 203, 0.705);
}
form{
  width: fit-content;
  border: 5px solid rgba(12, 12, 12, 0.915);
  padding: 20px;
  margin: 20px;
  justify-content: center; 
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
 
  margin-bottom: 20px;
  display: grid; /* use grid layout */
  grid-template-columns: repeat(2, 1fr);
  
}
.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}
input[type="number"] {
  width: 100%;
  padding: 10px;
}
div.form-group{
    width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

h1{
    align-content: center;
    margin-top: 20px;
    
}
h5{
    margin-top: 1px;
}
button{
    margin-top: 20px;
}


</style>
<body>

	<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#"><b>RISK ASSESS</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/disindex">Disease Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/cancer">Breast Cancer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diabetes">Diabetes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/heart">Heart Disease</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/kidney">Kidney Disease</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/liver">Liver Disease</a>
                    </li>
                    <li class="nav-item">
		                <a class="nav-link" href="#">|</a>
		            </li>
                    <li class="nav-item">
		                <a class="nav-link" href="/logout">Logout</a>
		            </li>
                    </ul>
                </div>
            </nav>
    </header><br/><br/>
    <h1 class="mainHeading" style="text-align:center">Breast Cancer Prediction</h1>
    
    <form action="{{ url_for('predict')}}" method="post" class="form-inline" class="form">
            <fieldset>
            <div class="tabcontent" id="new">
                <h5 >Please enter the patient details</h5>
                 <div class="form-group" class="details">
                    <label for="clump_thickness">Clump Thickness </label>
                    <input type="number" class="form-control" name="clump_thickness" required="required">
                 </div>
                  <div class="form-group" class="details">
                    <label for="uniform_cell_size">Uniform Cell size</label>
                    <input type="number" class="form-control" name="uniform_cell_size" required="required">
                  </div>
                  <div class="form-group" class="details">
                    <label for="uniform_cell_shape">Uniform Cell shape</label>
                    <input type="number" class="form-control" name="uniform_cell_shape" required="required" />
                  </div>
                  <div class="form-group" class="details">
                    <label for="marginal_adhesion">Marginal Adhesion</label>
                    <input type="number" class="form-control" name="marginal_adhesion" required="required" />
                  </div>
                  <div class="form-group" class="details">
                    <label for="single_epithelial_size">Single Epithelial Cell Size</label>
                    <input type="number" class="form-control" name="single_epithelial_size" required="required" />
                  </div>
                  <div class="form-group" class="details">
                    <label for="bare_nuclei">Bare Nuclei</label>
                    <input type="number" class="form-control" name="bare_nuclei" required="required" />
                  </div>
                  <div class="form-group" class="details">
                    <label for="bland_chromatin">Bland Chromatin</label>
                    <input type="number" class="form-control" name="bland_chromatin" required="required" />
                  </div>
                  <div class="form-group" class="details">
                    <label for="normal_nucleoli">Normal Nucleoli</label>
                    <input type="number" class="form-control" name="normal_nucleoli" required="required" />
                  </div>
                  <div class="form-group" class="details">
                    <label for="mitoses">Mitoses</label>
                    <input type="number" class="form-control" name="mitoses" required="required" />
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-dark" class="button">Predict</button>
                </div>
            </fieldset>
          </form>

	</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>